

<div class="container-fluid cart">
	
	<div class="row">
		{{#each item}}
		<div class="col-xs-12 col-sm-12  ml-5 mt-3">
      
			 <img src="{{this.product.image}}">
           <!-- <div class='detail d-flex justify-content-left'>-->
            <div class='detail'>
              <span class='item'> {{this.product.name}}({{this.quantity}}) </span>  

              {{#if this.product.flag}}
              <br><span class='left'>{{this.product.quantity}} left</span>  
              {{/if}}
              <br>
                <select class="ml-4 quantity"  id="s{{this.id}}">
               
             </select>
            
             
             <button type="submit" class="btn btn-info shadow-sm p-2 ml-1 del " id="d{{this.id}}"">Delete</button>
            
             <label class="extra mb-3 mr-2" id='l{{this.id}}' > PRICE:<span class="price"> ${{this.basePrice}}x{{this.quantity}}</span>
                    
             </label>
          
          </div> 
          
	  </div>
        
	  {{/each}}
    </div>  

     
     
    <div class="row">
           <div class="h-divider mt-3"></div>
            <div class="col-xs-12 col-sm-12 d-flex justify-content-end ">     
                <label class="subtotal">SUBTOTAL: $<span id="sprice"> </span></label>
            </div>    

          <!--   <div class="col-xs-12 col-sm-12 d-flex justify-content-end">   
                <label class="Tax">TAX: <span class="txvalue"> $2</span></label> 
             </div>  
                
            <div class="col-xs-12 col-sm-12 d-flex justify-content-end ">   
                <label class="Total"><b>TOTAL:</b> <span class="tvalue">$7</span> </label>
            </div>   -->
    </div>
     <div class="row">
            <div class="col-xs-12 col-sm-6  d-flex justify-content-start">

		           <a href="/shop"><button type="submit" class="btn btn-info" id="continue">
          
               Continue Shopping</button> </a>
            </div>  

             <div class="col-xs-12 col-sm-6  d-flex justify-content-end ">

               <a href="/checkout"> <button type="submit" class="btn btn-info" id="checkout">
          
               Continue Checkout</button> </a>
             </div>      
	<!--<button id="add-trip-button" data-toggle="modal" data-target="#squarespaceModal" type="button" class="btn btn-circle"><i class="glyphicon glyphicon-plus"></i></button>-->
	</div>
</div>

<script type="javascript/text" src="/assets/js/cart.js"> //Functionality for showing cart items

</script>

